.sups {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: auto;
    width: 100vw;
}

.mapeo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lista {
    cursor: pointer;
    margin-top: 1em;
}

.imagen {
    height: 10em;
    width: 10em;

    cursor: pointer;
}


.imagen:hover {
    height: 12em;
    width: 12em;

    transition: .3s;

    cursor: pointer;
}