.header {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;

   height: 5em;
   width: 100vw;
}

.headercitos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    height: 5em;
    width: 33%;
}